body {
 font-family: 'Arial', sans-serif;
 margin: 0;
 padding: 0;
 line-height: 1.6;
}
header {
 background: #1c2d5a;
 color: #fff;
 padding: 20px;
 text-align: center;
}
nav {
 background: #2f4f4f;
 display: flex;
 justify-content: center;
 flex-wrap: wrap;
}
nav a {
 color: white;
 padding: 15px 20px;
 text-decoration: none;
}
nav a:hover {
 background: #0055aa;
}
main {
 padding: 20px;
}
section {
 margin-bottom: 40px;
}
.grid {
 display: grid;
 gap: 20px;
}
@media (min-width: 768px) {
 .grid-3 {
   grid-template-columns: repeat(3, 1fr);
 }
}
.card {
 border: 1px solid #ccc;
 padding: 15px;
 background: #f9f9f9;
 transition: transform 0.3s ease;
}
.card:hover {
 transform: scale(1.03);
}
.card img {
 width: 100%;
 height: auto;
 display: block;
}
.meat{
  background: #8B3A3A;   
}
.spot{
    background: #289640; 
}
.oumi{
    background: #6a852b; 
}